* {
  padding: 0;
  margin: 25px auto;
  text-align: center;
}

.draggableItemContainer {
  background-color: grey;
  padding: 25px;
}

.draggableItem {
  padding: 25px;
  background-color: aqua;
  width: 50%;
  cursor: move;
}
